{% extends 'base.html.twig' %}

{% block title %}Hello {{ username }}!{% endblock %}

{% block body %}

<header class="example-wrapper">
    <h1>Hello {{ username }}! </h1>
    <nav>
        <li>Ajouter une vidéo</li>
        <li>Rechercher une vidéo</li>
        <li>Déconnexion</li>
    </nav>
</header>

    <div id="content_videos_gallery">
        <ul>
        {%  for video in videos_user %}
        <li>{{ video.url }}</li>
            <div><iframe width="560" height="315" src=" {{  video.url | replace({'watch?v=': 'embed/'})  ~ '?rel=0&showinfo=0' }} " frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
            

        {%  endfor %}
        </ul>

    <footer>¤ YouFlix ¤</footer>
{% endblock %}
