{% extends 'base.html.twig' %}

{% block title %}Connexion à YouFlix !{% endblock %}

{% block body %}
    <div id="form_connexion">
   <form method="POST">
       <input type="text" name="_username" required />
       <input type="password" name="_password" required />
       <input type="submit" value="Se connecter"/>

       <input type="hidden" name="_target_path" value="{{ path('dashboard') }}" />
   </form>
    </div>
{% endblock %}
